.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow {
  font-size:(404.38/10)*1rem;
  width:(404.38/404.38)*1em;
}
.icon-arrow-next {
  font-size:(18/10)*1rem;
  width:(9/18)*1em;
}
.icon-arrow-prev {
  font-size:(18/10)*1rem;
  width:(9/18)*1em;
}
.icon-arrowL {
  font-size:(10/10)*1rem;
  width:(51/10)*1em;
}
.icon-arrowLt {
  font-size:(14/10)*1rem;
  width:(7/14)*1em;
}
.icon-arrowR {
  font-size:(10/10)*1rem;
  width:(50/10)*1em;
}
.icon-arrowRt {
  font-size:(14/10)*1rem;
  width:(7/14)*1em;
}
.icon-check {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-cleaning-icon {
  font-size:(75/10)*1rem;
  width:(50/75)*1em;
}
.icon-close-form {
  font-size:(26/10)*1rem;
  width:(26/26)*1em;
}
.icon-empty {
  font-size:(45.44/10)*1rem;
  width:(45.44/45.44)*1em;
}
.icon-facebook {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-instagram {
  font-size:(511/10)*1rem;
  width:(511/511)*1em;
}
.icon-phone {
  font-size:(22/10)*1rem;
  width:(18/22)*1em;
}
.icon-place {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-service-01 {
  font-size:(90/10)*1rem;
  width:(90/90)*1em;
}
.icon-service-02 {
  font-size:(91/10)*1rem;
  width:(90/91)*1em;
}
.icon-service-03 {
  font-size:(90/10)*1rem;
  width:(80/90)*1em;
}
.icon-service-04 {
  font-size:(90/10)*1rem;
  width:(82/90)*1em;
}
.icon-service-05 {
  font-size:(90/10)*1rem;
  width:(82/90)*1em;
}
.icon-service-06 {
  font-size:(90/10)*1rem;
  width:(80/90)*1em;
}
.icon-service-07 {
  font-size:(80/10)*1rem;
  width:(90/80)*1em;
}
.icon-service-08 {
  font-size:(91/10)*1rem;
  width:(66/91)*1em;
}
.icon-service-09 {
  font-size:(44/10)*1rem;
  width:(90/44)*1em;
}
.icon-service-10 {
  font-size:(90/10)*1rem;
  width:(83/90)*1em;
}
.icon-service-11 {
  font-size:(90/10)*1rem;
  width:(91/90)*1em;
}
.icon-service-12 {
  font-size:(80/10)*1rem;
  width:(91/80)*1em;
}
.icon-service-13 {
  font-size:(90/10)*1rem;
  width:(65/90)*1em;
}
.icon-service-14 {
  font-size:(83/10)*1rem;
  width:(91/83)*1em;
}
.icon-service-15 {
  font-size:(90/10)*1rem;
  width:(91/90)*1em;
}
.icon-time {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-youtube {
  font-size:(682/10)*1rem;
  width:(682/682)*1em;
}
