$primary-text: #222222;
$white: #ffffff;
$grey: #7A8790;
$light-grey: #F4F4F4;
$grey-second: #F9F9FA;
$grey-light: #E5E5E5;
$deep-blue: #183A56;
$dark-blue: #001E37;
$green: #86BC25;
$dark-green: #70A216;