.consultation {
  border-top: 1px solid #D8DDE1;
  border-bottom: 1px solid #D8DDE1;
  @include r(960) {
    border: none;
    padding-bottom: 30px;
  }
  &__desc {
    max-width: 545px;
    @include r(767) {
      max-width: 100%;
      text-align: center;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 140%;
    color: #7A8790;
    letter-spacing: 0.05em;
    @include fr;
    @include r(767) {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  .input-file {
    @include r(767) {
      margin-bottom: 22px;
    }
  }
  .main-btn {
    width: 100%;
  }
}