
<section class="clean-types indent-big">
  <div class="container">
    <div class="h2-title">Види чистки</div>
    <div class="row clean-types__row js_height-block">
      <div class="col-xs-4 clean-types__col">
        <div class="clean-types__item height"><img src="images/clean-only.svg" alt="#"/>
          <div class="clean-types__title">Clean Only</div>
          <div class="clean-types__text">Программа подразумевает обработку изделий в соответствие с требованиями производителей, с применением высококачественных профессиональных чистящих средств. Процесс включает предварительное выведение пятен, общую чистку изделия, профессиональное отпаривание и глажение. В программе Clean Only реализован принцип - качество услуги выше ее стоимости, что отражает философию KIMS – заботиться о клиентах и быть доступным каждому</div>
        </div>
      </div>
      <div class="col-xs-4 clean-types__col">
        <div class="clean-types__item height"><img src="images/eco.svg" alt="#"/>
          <div class="clean-types__title">Екочистка</div>
          <div class="clean-types__text">KIMS - это всегда забота об окружающей среде и экологии. Поэтому, объединив лучшие эко-технологии и имея в арсенале все существующие экологические средства для чистки изделий, мы создали специальную услугу – Экочистка. Все процессы, которые объединяет в себе эта программа, полностью отвечают принципам экологичности и высокой эффективности</div>
        </div>
      </div>
      <div class="col-xs-4 clean-types__col">
        <div class="clean-types__item height"><img src="images/first-line.svg" alt="#"/>
          <div class="clean-types__title">First Line</div>
          <div class="clean-types__text">Программа для изделий, требующих индивидуального подхода. Брендовые, эксклюзивные, винтажные, от кутюр, просто очень любимые – таким вещам необходим особо тщательный выбор способа чистки и восстановления. Главный технолог KIMS подберет наиболее эффективный и безопасный метод обработки, учитывая материал и особенности каждого изделия, а также, проконтролирует весь процесс на каждом его этапе</div>
        </div>
      </div>
    </div>
  </div>
</section>