
<section class="consultation indent-big">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="consultation__desc">
          <div class="h2-subtitle">Отримайте  безкоштовну консультацію  щодо чистки  ваших  речей</div>
          <div class="consultation__text">
            <p>Зв'яжіться з нами по телефону або<br/>заповнiть форму на сайті.</p>
            <p>Будемо раді відповісти на будь-які питання.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <form class="consultation__form js_validate" action="#">
          <div class="input-group js-form-label">
            <input type="text" name="name" required="" placeholder="Ім’я"/>
          </div>
          <div class="input-group js-form-label">
            <input type="text" name="last name" required="" placeholder="Прізвище"/>
          </div>
          <div class="input-group js-form-label">
            <input type="text" name="phone" required="" placeholder="телефон" data-validate="phone"/>
          </div>
          <div class="input-group input-field_text js-form-label">
            <textarea name="comment" required="" placeholder="текст повідомлення"></textarea>
          </div>
          <div class="input-group input-file"><span class="upload-text">фото забруднення</span>
            <input class="upload" type="file" name="file" required="" data-validate=""/>
          </div>
          <button class="main-btn dark-btn" type="submit">відправити</button>
        </form>
      </div>
    </div>
  </div>
</section>