
<section class="consultation_corp indent-big">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="consultation__desc">
          <div class="h2-subtitle">Зв'яжіться з нашим менеджером і замовте тестову прання або чищення</div>
          <div class="consultation__text">
            <p>Зв'яжіться з нами по телефону або<br/>заповнiть форму на сайті.</p>
            <p>Будемо раді відповісти на будь-які питання.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <form class="consultation__form js_validate" action="#">
          <div class="input-group input-group__icon js-form-label" data-error="Пожалуйста, заполните это поле">
            <input type="text" name="name" required="" placeholder="ПІБ"/>
          </div>
          <div class="input-group input-group__icon js-form-label" data-error="Пожалуйста, заполните это поле">
            <input type="tel" name="phone" required="" placeholder="телефон" data-validate="phone"/>
          </div>
          <div class="input-group input-group__icon js-form-label" data-error="Пожалуйста, заполните это поле">
            <input type="email" name="email" required="" placeholder="email" data-validate="email"/>
          </div>
          <div class="input-group input-field_text js-form-label">
            <textarea name="comment" required="" placeholder="текст повідомлення"></textarea>
          </div>
          <button class="main-btn dark-btn" type="submit">відправити</button>
        </form>
      </div>
    </div>
  </div>
</section>