
<footer class="footer">
  <div class="header">
    <div class="header__column--left">
      <div class="location">
        <svg class="icon icon-place ">
          <use xlink:href="i/sprite/sprite.svg#place"></use>
        </svg><span>Київ</span>
      </div>
    </div>
    <div class="header__column--center"><img src="images/logo.svg" alt="#"/></div>
    <div class="header__column--right">
      <div class="btns-header"><a href="#"><img src="images/icon-play.svg" alt="#"/></a><a href="#"><img src="images/icon-apple.svg" alt="#"/></a></div><a class="btn btn-order" href="#">замовити</a>
    </div>
  </div>
  <div class="container">
    <div class="row footer-row">
      <div class="footer-nav--holder">
        <div class="footer-nav-list">
          <div class="h4-title">Про нас</div>
          <ul class="footer-nav">
            <li><a class="footer-nav-link" href="price.html">Ціни</a></li>
            <li><a class="footer-nav-link" href="#">Пункти прийому</a></li>
            <li><a class="footer-nav-link" href="service-corp.html">Корпоративна хімчистка</a></li>
            <li><a class="footer-nav-link" href="#">Франшиза</a></li>
            <li><a class="footer-nav-link" href="news.html">Новини</a></li>
            <li><a class="footer-nav-link" href="about.html">Про нас</a></li>
            <li><a class="footer-nav-link" href="contact.html">Контакти</a></li>
          </ul>
        </div>
        <div class="footer-nav-list">
          <div class="h4-title">Послуги</div>
          <ul class="footer-nav two-column">
            <li><a class="footer-nav-link" href="#">Хімчистка повсякденного одягу</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка аксесуарів</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка дитячих речей</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка спецодягу</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка урочистого одягу</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка взуття</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка верхнього одягу</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка килимів</a></li>
            <li><a class="footer-nav-link" href="#">Чистка шкіри та хутра</a></li>
            <li><a class="footer-nav-link" href="#">Ремонт одягу</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка домашнього текстилю</a></li>
            <li><a class="footer-nav-link" href="#">Ремонт взуття</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка лижних костюмів</a></li>
            <li><a class="footer-nav-link" href="#">Додаткові послуги</a></li>
            <li><a class="footer-nav-link" href="#">Хімчистка валіз</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-social">
        <ul class="social__list">
          <li class="social__item"><a class="social__link" href="#" target="_blank">
              <svg class="icon icon-facebook ">
                <use xlink:href="i/sprite/sprite.svg#facebook"></use>
              </svg></a></li>
          <li class="social__item"><a class="social__link" href="#" target="_blank">
              <svg class="icon icon-instagram ">
                <use xlink:href="i/sprite/sprite.svg#instagram"></use>
              </svg></a></li>
          <li class="social__item"><a class="social__link" href="#" target="_blank">
              <svg class="icon icon-youtube ">
                <use xlink:href="i/sprite/sprite.svg#youtube"></use>
              </svg></a></li>
        </ul>
        <div class="footer-call"><a class="main-btn">Передзвонити мені</a></div>
        <div class="footer-phone"><a class="footer-phone--number" href="+38 098 774 75 75">+38 098 774 75 75</a><a class="footer-phone--number" href="+38 098 774 75 75">+38 098 774 75 75</a></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row footer-row">
        <div class="clean-popup">
          <svg class="icon icon-cleaning-icon ">
            <use xlink:href="i/sprite/sprite.svg#cleaning-icon"></use>
          </svg>
        </div>
        <div class="footer-copyright">© Kims,<span> 2020</span>. Всі права захищені.</div>
        <div class="footer-develop"><span>Розробка і підтримка сайту -</span><a href="http://artjoker.ua/"><img class="footer-logo--art" src="images/artjoker.svg" alt="#"/></a></div>
      </div>
    </div>
  </div>
</footer>