
<header class="header header__mn-close">
  <div class="header__column--left"><a class="btn-burger" href="#"><span class="btn-burger__title">Меню</span></a>
    <div class="location">
      <svg class="icon icon-place ">
        <use xlink:href="i/sprite/sprite.svg#place"></use>
      </svg><span class="location-active">Київ</span>
    </div>
  </div>
  <div class="header__column--center"><img src="images/logo.svg" alt="#"/></div>
  <div class="header__column--right">
    <div class="btns-header"><a href="#"><img src="images/icon-play.svg" alt="#"/></a><a href="#"><img src="images/icon-apple.svg" alt="#"/></a></div><a class="btn" href="#">замовити</a>
  </div>
</header>
<header class="header header__mn-open">
  <div class="header__column--left"><a class="btn-burger--close" href="#"><span class="close-icon"></span></a></div>
  <div class="header__column--center"><img src="images/logo.svg" alt="#"/></div>
  <div class="header__column--right">
    <div class="fast-btns-header">
      <div class="search-block-wrap">
        <div class="search-block">
          <form class="js_validate">
            <div class="input-group search-form__wrap input-group__icon" data-error="Пожалуйста, заполните это поле">
              <input class="js-search" type="text" required="" placeholder="Знайти послугу..."/><span class="search-block__elem icon-close js-delete-val"></span>
              <button class="search-btn icon-search" type="submit"></button><span class="search-close close-icon"></span>
              <div class="search-result"><a class="search-result__item">Хімчистка  дитячих  речей<span class="icon-search"></span></a><a class="search-result__item">Хімчистка  дитячих  речей<span class="icon-search"></span></a><a class="search-result__item">Хімчистка  дитячих  речей<span class="icon-search"></span></a><a class="search-result__item">Хімчистка  дитячих  речей<span class="icon-search"></span></a></div>
            </div>
          </form>
        </div>
        <div class="overlay js-overlay-search"></div><span class="icon-search header-search js-show-search"></span>
      </div><a href="#"><img src="images/icon-user.svg" alt="#"/></a>
      <div class="drop-lang"><span class="drop-lang--current">Укр</span></div>
    </div>
    <div class="btns-header"><a href="#"><img src="images/icon-play.svg" alt="#"/></a><a href="#"><img src="images/icon-apple.svg" alt="#"/></a></div><a class="btn" href="#">замовити</a>
  </div>
  <nav class="header-menu">
    <div class="header-menu--wrap">
      <div class="header-menu--fast">
        <div class="location">
          <svg class="icon icon-place ">
            <use xlink:href="i/sprite/sprite.svg#place"></use>
          </svg><span>Київ</span>
        </div>
        <div class="btns-header"><a href="#"><img src="images/icon-play.svg" alt="#"/></a><a href="#"><img src="images/icon-apple.svg" alt="#"/></a></div>
        <div class="fast-btns-header"><a class="fast-btns__item js-show-search" href="#"><img src="images/icon-search.svg" alt="#"/></a><a class="fast-btns__item" href="#"><img src="images/icon-user.svg" alt="#"/></a>
          <div class="drop-lang fast-btns__item"><span class="drop-lang--current">Укр</span></div>
        </div>
      </div>
      <div class="header-menu--items">
        <div class="header-menu--top">
          <ul class="header-menu--list">
            <li class="header-menu--item"><a class="header-menu--link" href="price.html">Ціни</a></li>
            <li class="header-menu--item js-item-with-submenu">
              <div class="header-menu--sub"><a class="header-menu--link" href="service.html">Послуги</a><span class="icon-open--submenu"><img src="images/icon-plus.svg" alt="#"/></span></div>
              <div class="header-submenu--block">
                <ul class="header-submenu--list">
                  <li class="header-submenu--item"><a href="#">Хімчистка повсякденного одягу</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка верхнього одягу</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка килимів</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка дитячих речей</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка домашнього текстилю</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка валіз</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка урочистого одягу</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка спецодягу</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка лижних костюмів</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка аксесуарів</a></li>
                  <li class="header-submenu--item"><a href="#">Хімчистка взуття</a></li>
                  <li class="header-submenu--item"><a href="#">Ремонт одягу</a></li>
                  <li class="header-submenu--item"><a href="#">Ремонт взуття</a></li>
                  <li class="header-submenu--item"><a href="#">Чистка шкіри і хутра</a></li>
                  <li class="header-submenu--item"><a href="#">Додаткові послуги</a></li>
                </ul>
              </div>
            </li>
            <li class="header-menu--item item-submenu"><a class="header-menu--link">Пункти прийому</a></li>
            <li class="header-menu--item item-submenu"><a class="header-menu--link">Франшиза</a></li>
          </ul>
        </div>
        <div class="header-menu--bottom">
          <div class="header-menu--info">
            <div class="header-menu--block">
              <ul class="header-menu--contlist">
                <li><a href="about.html">Про нас</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="delivery.html">Доставка</a></li>
              </ul>
            </div>
            <div class="header-menu--block">
              <ul class="header-menu--contlist">
                <li><a href="#">Послуги для бізнесу</a></li>
                <li><a href="news.html">Блог</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu--social">
      <ul class="social__list">
        <li class="social__item"><a class="social__link" href="#" target="_blank">
            <svg class="icon icon-facebook ">
              <use xlink:href="i/sprite/sprite.svg#facebook"></use>
            </svg></a></li>
        <li class="social__item"><a class="social__link" href="#" target="_blank">
            <svg class="icon icon-instagram ">
              <use xlink:href="i/sprite/sprite.svg#instagram"></use>
            </svg></a></li>
        <li class="social__item"><a class="social__link" href="#" target="_blank">
            <svg class="icon icon-youtube ">
              <use xlink:href="i/sprite/sprite.svg#youtube"></use>
            </svg></a></li>
      </ul>
    </div>
  </nav>
  <div class="choose-city"></div>
</header>