
<div class="pagination-block">
  <ul class="pagination">
    <li class="disable prev-page pagination__btn"><span><i class="icon-arrowLt icon">
          <svg class="icon icon-arrow-prev ">
            <use xlink:href="i/sprite/sprite.svg#arrow-prev"></use>
          </svg></i></span></li>
    <li class="active"><span>1</span></li>
    <li><a href="#">2</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="next-page pagination__btn"><a href="#"><i class="icon-arrowRt icon">
          <svg class="icon icon-arrow-next ">
            <use xlink:href="i/sprite/sprite.svg#arrow-next"></use>
          </svg></i></a></li>
  </ul>
</div>