
<section class="presentation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="presentation__form-wrap">
          <div class="h2-subtitle">Завантажити презентацію щодо співпраці</div>
          <form class="presentation__form js_validate dark-form" action="#">
            <div class="input-group input-group__icon" data-error="Пожалуйста, заполните это поле">
              <input type="text" name="name" required="" placeholder="ПІБ"/>
            </div>
            <div class="input-group input-group__icon" data-error="Пожалуйста, заполните это поле">
              <input type="tel" name="phone" required="" placeholder="телефон" data-validate="phone"/>
            </div>
            <div class="input-group input-group__icon" data-error="Пожалуйста, заполните это поле" data-error-email="Неверные формат email">
              <input type="email" name="email" required="" placeholder="email" data-validate="email"/>
            </div>
            <button class="main-btn dark-btn" type="submit"><span class="btn-img">завантажити</span></button>
          </form>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="presentation__img"><img src="images/design.png" alt="#"/></div>
      </div>
    </div>
  </div>
</section>