
<section class="service-top">
  <div class="container">
    <div class="service-top--wrap">
      <div class="service-image--block"><img class="service-image--top" src="images/service-1.png" alt="#"/></div>
      <div class="service-content--block">
        <div class="service-title h1-title">Хімчистка дитячих речей</div>
        <div class="service-top_text">
          <div class="service-text_container swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <p>Как же это приятно, когда костюм хорошо сидит на Вас, выглядит опрятно и ухоженно! Но, что же делать если пиджак помят, колени вытянулись, а на рубашке пятно от соуса и все это ставит под сомнение Ваш деловой образ? Как правило, любому костюму показана исключительно сухая чистка, поэтому KIMS не рекомендует стирать и гладить костюм в домашних условиях. При самостоятельных экспериментах есть большая вероятность срыва цвета, усадки или порчи изделия. Как правило, любому костюму показана исключительно сухая чистка, поэтому KIMS не рекомендует стирать и гладить костюм в домашних условиях. При самостоятельных экспериментах есть большая вероятность срыва цвета, усадки или порчи изделия.</p>
              </div>
              <div class="swiper-slide">
                <p>А как же быть с рубашками, которые как правило, состоят из натуральных тканей? Мы рекомендуем аква-обработку на самом современном оборудовании с применением профессиональных моющих средств, что позволит существенно увеличить срок использования данного вида одежды. Если же у вашей рубашки случилось пятно, Вы должны помнить, что жировые пятна невозможно вывести в воде. Первое что необходимо сделать – это вывести его, используя сухую чистку с последующей аква-обработкой.</p>
              </div>
              <div class="swiper-slide">
                <p>Завершающим этапом обработки изделий является профессиональная глажка. Что может быть приятней идеально выглаженного пиджака, брюк и рубашки, которые позволят Вам чувствовать себя комфортно и уверенно на любой деловой встрече или светском мероприятии?</p>
                <p>Для получения идеального результата достаточно заказать услугу на нашем сайте и наслаждаться свободой от забот о внешнем виде одежды.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="service-top_btn">
          <div class="service-top_btn-wrap arrow-nav__wrap">
            <div class="swiper-button-prev swiper-button"><i class="icon-arr icon">
                <svg class="icon icon-arrowL ">
                  <use xlink:href="i/sprite/sprite.svg#arrowL"></use>
                </svg></i></div>
            <div class="swiper-button-next swiper-button"><i class="icon-arr icon">
                <svg class="icon icon-arrowR ">
                  <use xlink:href="i/sprite/sprite.svg#arrowR"></use>
                </svg></i></div>
          </div>
          <div class="swiper-pagination"></div>
          <!--.swiper-scrollbar.service-scrollbar_custom-->
        </div>
      </div>
    </div>
  </div>
</section>